.c--btn-a {
    @extend .f--font-e;
    background: map-get($color-options, a);
    padding: $measure;
    color: map-get($color-options, b);
    min-width: 130px;
    &.is-active {
        background: red;
    }
    &--second {
        background: map-get($color-options, e);
    }
    &--is-active {
        background: map-get($color-options, d);
    }
}
